@font-face {
    font-family: 'gothicbold';
    src: url('itcavantgardepro-bold-webfont.woff2') format('woff2'),
         url('itcavantgardepro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}